<p>project-list Items!</p>
<div class="row">
    <div class="col-md-6">
        <tr>
            <td>
        <button type="button" (click)="Itemsubmit1()">Product1</button>
            </td>
           </tr>
        <tr>
            <td>
            <button type="button" (click)="Itemsubmit2()">Product2</button>
            </td>
        </tr>
          <tr>
            <td>
                 <button type="button" (click)="Itemsubmit3()">Product3</button>
             <td>
             </tr>
    </div>
   
</div>