<p>Product-Details</p>
<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
<table>
        <tr>
          <th>ProductName</th>
          <th>ProductPrice</th>
          <th>ProductQuantity</th>
        </tr>
        <tr>
                <th>{{pname}}</th>
                <th>{{pprice}}</th>
                <th>{{pquantity}}</th>
              </tr>
</table>